---
layout: default
---
{% for repository in site.github.public_repositories %}

    <h2>
        <a href="{{ repository.html_url }}">{{ repository.name }}</a>
    </h2>

    {% if repository.description %}
        <div class="description">{{ repository.description }}</div>
    {% endif %}

    {% if repository.open_issues_count > 0 %}
        <div class="issues">
            <a href="{{ repository.issues_url }}">Open issues: {{ repository.open_issues_count }}</a>
        </div>
    {% endif %}
{% endfor %}