---
sitemap: false
excludeSearch: true
---

//
// IMPORTS
//

@import "reset";
@import "fonts";
@import "variables";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body {
  font: 14px/1.4 $bodyFont;
  color: $defaultTextColor;
  padding: 10px;

  -moz-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

h1, h2, h3, h4, header nav {
  font-weight: bold;
}

h1, header nav {
  font-size: 3em;
  line-height: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
 font-size:1.5em;
}

h3 {
  font-size:1.2em;
}

h4 {
  font-size:1.1em;
}

a {
  text-decoration: none;
  margin-bottom: 5px;
  color: $defaultLinkColor;

  &:visited {
   color: $defaultLinkColor;
  }

  &:hover {
    text-decoration: underline;
  }

  &.read-more:hover {
    text-decoration: none;
  }
}

::selection {
      background-color: rgba($defaultLinkColor, .4);
    }


@import "highlights";
@import "svg-icons";
